<hr>
<div class="">
    <div class="carDetailSection">
        <div class="carImage">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div *ngFor="let image of carImages"  class="carousel-item active">
                <img [src]="getImageSrc(image.imagePath)"    class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>  
        </div>
        <div class="carTable">
            <table class="table">
                <tr>
                  <th>Fiyat : </th>
                  <td>{{carDetails.dailyPrice}} ₺</td>
                </tr>
                <tr>
                    <th>Marka : </th>
                    <td>{{carDetails.brandName}}</td>
                </tr>
                <tr>
                    <th>Model : </th>
                    <td>{{carDetails.describtion}}</td>
                </tr>
                <tr>
                    <th>Renk : </th>
                    <td>{{carDetails.colorName}}</td>
                </tr>
                <tr>
                  <th>Açıklama : </th>
                  <td>{{carDetails.carName}}</td>
              </tr>
              <tr *ngIf="carStatus">
                <button routerLink="/payment" (click)="rentCar(carId,userId)" type="button">Rent Car</button>
              </tr>
              <tr *ngIf="!carStatus">
                car is not available <br>
                <button (click)="returnCar(carId,userId)">Return Car</button>
              </tr>
            </table>
        </div>
    </div>
</div>