
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tr routerLink="/cars" [class]="getAllBrandsByClass()" ><td></td><td>All Brands</td></tr>
    <tr *ngFor="let brand of brands" 
    routerLink="/cars/brand/{{brand.id}}"
    [class]="getCurrentBrand(brand)"
    (click)="setCurrentBrand(brand)">
        <td>{{brand.id}}</td>
        <td>{{brand.name}}</td>
    </tr>
</table>
<div>
    <button routerLink="brand/add" class="btn btn-secondary">Add Brand</button>
</div>