.searchDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.searchLabel {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.outDiv {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.secondDiv {
    width: 50%;
}
