<form [formGroup]="carForm">
    <div>
        <label class="form-label mt-3" for="name">Car Name</label>
        <input formControlName="name" class="form-control" type="text">
    </div>
    <div>
        <label class="form-label mt-3" for="colorId">Color</label>
        <select class="form-select" formControlName="colorId">
            <option selected>Colors</option>
            <option *ngFor="let color of colors" value="{{color.id}}">{{color.name}}</option>
        </select>
    </div>
    <div>
        <label class="form-label mt-3" for="brandId">Brand</label>
        <select class="form-select" formControlName="brandId">
            <option selected>Brands</option>
            <option *ngFor="let brand of brands" value="{{brand.id}}">{{brand.name}}</option>
        </select>
    </div>
    <div>
        <label class="form-label mt-3" for="dailyPrice">Price</label>
        <input formControlName="dailyPrice" class="form-control" type="number">
    </div>
    <div>
        <label class="form-label mt-5" for="modelYear">Model Year</label>
        <input formControlName="modelYear" class="form-control" type="number">
    </div> 
    <div>
        <label class="form-label mt-5" for="description">Description</label>
        <input formControlName="description" class="form-control" type="text">
    </div>
    <button (click)="addCar()" class="btn btn-primary mt-1">Add Car</button>
</form>